/* CSS Reset */
body {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generics */
.container {
    max-width: 98%;
    margin: 0 auto;
    padding: 1rem 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.box {
    height: 90vh;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.left-sidebar .fa-solid,
.fa-light,
.fa-regular {
    color: gray;
}

.btn {
    border: 1px solid white;
    border-radius: 20px;
}

.title,
.subtitle {
    text-align: center;
    margin: 0.25rem 0;
    padding: 0 0.5rem;
}

.title {
    color: white;
}

.subtitle {
    color: gray;
}


/* Sidebar */
.left-sidebar {
    background-color: black;
    /* border: 1px dashed white; */
    padding: 0.5rem 0;
    width: 50px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

#small-logo {
    width: 60%;
}

.left-sidebar .top {
    line-height: 30px;
}

.left-sidebar .bottom {
    line-height: 30px;
}

/* Content */
.right-content {
    width: 100%;
}

/* *Header */
header {
    background-color: rgba(9, 11, 18);
    /* border: 1px solid red; */
    height: 70px;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}

.upgrade {
    font-size: 0.7rem;
    text-transform: uppercase;
    flex-basis: 40%;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    color: white;
}


/* !Main */
main {
    /* border: 1px solid yellow; */
    /* color: white; */
    background-color: rgb(21, 25, 33);
    flex-grow: 1;
    overflow: auto;
}

/* !Top nav-bar */
.row-nav ul {
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 0.7rem;
    row-gap: 1.2rem;
    justify-content: center;
    padding: 0 1.2rem;
}

.row-nav li {
    flex-basis: calc(100% / 4);
}

.row-nav li a {
    color: gray;
}


/* !Recently played */

.recently-title {
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.row-recently-played {
    row-gap: 0.5rem;
    margin: 0 -0.25rem;
}

.row-recently-played .col {
    padding: 0 0.25rem;
    flex-basis: calc(50% - 1rem);
    /* border: 1px solid white; */
}


/* !Recommended content */
.row-recommended {
    row-gap: 0.5rem;
    margin: 0 -0.25rem;
}

.row-recommended .col {
    padding: 0 0.25rem;
    flex-basis: calc(50% - 1rem);
    /* border: 1px solid white; */
}

.recommended-title {
    margin-top: 1.5rem;
    color: white;
}

.recommended-description {
    margin: 0.25rem 0 2rem 0;
    color: grey;
}

/* !More popular */
.row-more-popular {
    row-gap: 0.5rem;
    margin: 0 -0.25rem;
}

.row-more-popular .col {
    padding: 0 0.25rem;
    flex-basis: calc(50% - 1rem);
    /* border: 1px solid white; */
}

.more-popular-title {
    margin-top: 1.5rem;
    color: white;
}

.more-popular-description {
    margin: 0.25rem 0 2rem 0;
    color: grey;
}

.popular {
    border-radius: 50%;
}


/* todo Footer */
footer {
    background-color: rgb(40, 40, 40);
    height: calc(10vh - 1rem);
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex-basis: calc(100% / 3);
    align-items: center;
}

/* todo Footer top-left */
.footer-left {
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.now-playing {
    align-items: center;
    gap: 5px;
}

.now-playing ul {
    width: 60%;
}

.now-playing li h5 {

    color: white;
    font-size: 0.6rem;
}

.now-playing li h6 {
    margin: 0;
    color: gray;
    font-size: 0.5rem;
}

.now-playing-image {
    width: 30px;
    height: 30px;
}

.footer-left .fa-regular {
    color: gray;
}

/* todo Footer center */
.footer-center {
    justify-content: center;
    row-gap: 15px;
}

.player-button {
    margin: 0;
    row-gap: 10px;
    gap: 15px;
}

.playing-time {
    align-items: center;
    gap: 5px;
}

.footer-center,
.fa-solid,
.fa-regular {
    color: white;
}

/* todo Footer right */
.footer-right {
    justify-content: flex-end;
}

.footer-right,
.fa-solid {
    color: white;
}

.volume-share {
    align-items: center;
    gap: 10px;
}

.bar {
    color: grey;
    background-color: grey;
    border: 1px solid;
    width: 100px;
    height: 2px;
    border-radius: 10px;
}

.progress {
    width: 20%;
    display: inline-block;
    color: white;
}