/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Generics */
.flex {
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.box {
    height: calc(100vh - 80px);
    overflow: auto;

}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.image-sidebar {
    max-width: 45%;
    opacity: 0.5;
}

.left-sidebar .fa-solid,
.fa-light,
.fa-regular {
    color: gray;
}

.btn {
    border: 1px solid white;
    border-radius: 20px;
}

.title,
.subtitle {
    text-align: center;
    margin: 0.25rem 0;
    padding: 0 0.5rem;
}

.title {
    color: white;
}

.subtitle {
    color: gray;
}

.album-image {
    display: block;
}

.cover-container {
    position: relative;
}

.cover-container-radius {
    position: relative;
}

main .fa-circle-play {
    display: none;
}

/* Sidebar */
.left-sidebar {
    background-color: black;
    padding: 0.5rem 0;
    flex-basis: 50px;
    flex-shrink: 0;
    text-align: center;
}

/* Top-sidebar */
#small-logo {
    width: 60%;
}

#big-logo {
    width: 110px;
    display: none;
}

.left-sidebar .top {
    line-height: 30px;
    flex-grow: 1;
}

.left-sidebar .top a {
    display: none;
    font-size: 0.7rem;
    color: grey;
}

/* Playlist content */
.left-sidebar .playlist {
    justify-content: flex-start;
    display: none;
}

.left-sidebar h2 {
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 1rem;
    display: inline;
}

/* Bottom-sidebar */
.left-sidebar .bottom {
    height: 75px;
    line-height: 30px;

}

.left-sidebar .bottom a {
    display: none;
    color: grey;
    font-size: 0.7rem;
}

.left-sidebar .bottom h2 {
    text-transform: none;
    font-size: 0.7rem;
}

/* Right-Content */
.right-content {
    overflow: auto;
}

/* *Header */
header {
    background-color: rgba(9, 11, 18, 0.95);
    height: 70px;
    position: sticky;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.5rem;
    top: 0;
}

.upgrade {
    font-size: 0.7rem;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    color: white;
}

/* !Main */
main {
    /* border: 1px solid yellow; */
    /* color: white; */
    background-color: rgb(21, 25, 33);
    flex-grow: 1;
    overflow: auto;
    padding: 1rem 1rem;
}

/* !Top nav-bar */
.row-nav ul {
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 0.7rem;
    row-gap: 1.2rem;
    text-align: center;
    justify-content: center;
}

.row-nav li {
    flex-basis: 25%;
}

.row-nav li a {
    color: gray;
}


/* !Recently played */

.recently-title {
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.row-recently-played {
    row-gap: 0.5rem;
    margin: 0 -0.25rem;
}

.row-recently-played .col {
    padding: 0 0.25rem;
    flex-basis: 50%;
    /* border: 1px solid white; */
}


/* !Recommended content */
.row-recommended {
    row-gap: 0.5rem;
    margin: 0 -0.25rem;
    flex-wrap: nowrap;
}

.row-recommended .col {
    padding: 0 0.25rem;
}

.recommended-title {
    margin-top: 1.5rem;
    color: white;
}

.recommended-description {
    margin: 0.25rem 0 2rem 0;
    color: grey;
}

/* !More popular */
.row-more-popular {
    row-gap: 0.5rem;
    margin: 0 -0.25rem;
    flex-wrap: nowrap;
}

.row-more-popular .col {
    padding: 0 0.25rem;

    /* border: 1px solid white; */
}

.more-popular-title {
    margin-top: 1.5rem;
    color: white;
}

.more-popular-description {
    margin: 0.25rem 0 2rem 0;
    color: grey;
}

.popular {
    border-radius: 50%;
}


/* todo Footer */
footer {
    background-color: rgb(40, 40, 40);
    height: 80px;
    padding: 0.5rem;
}


/* todo Footer top-left */
.footer-left {
    align-items: center;
    width: 250px;
    gap: 10px;
}

.now-playing {
    gap: 5px;
}

.now-playing ul {
    width: 60%;
}

.now-playing li h5 {
    color: white;
    font-size: 0.6rem;
}

.now-playing li h6 {
    color: gray;
    font-size: 0.5rem;
}

.now-playing-image {
    width: 30px;
    height: 30px;
}

.footer-left .fa-regular {
    color: grey;
}

/* todo Footer center */
.footer-center {
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    flex-grow: 1;
}

.player-button ul {
    gap: 15px;
}

.playing-time {
    width: 50%;
}

.playing-time ul {
    gap: 5px;
    width: 100%;
    align-items: center;
}

.playing-time li:nth-last-of-type(2) {
    width: 100%;
}

.time-bar {
    background-color: grey;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    position: relative;
}

.time-progress {
    width: 28%;
    background-color: greenyellow;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: none;
}

.marker {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 50% -50%;
    display: none;
}

.playing-time h6 {
    font-size: 0.5rem;
    padding: 0 0.25rem;
}

.footer-center,
.fa-solid,
.fa-regular {
    color: white;
}

/* todo Footer right */
.footer-right {
    justify-content: flex-end;
    width: 250px;
}

.footer-right,
.fa-solid {
    color: white;
}

.volume-share {
    align-items: center;
    gap: 10px;
    width: 90%;
}

.volume-share li:last-of-type {
    width: 100%;
}

.volume-bar {
    background-color: grey;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    position: relative;
}

.volume-progress {
    width: 50%;
    background-color: greenyellow;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: none;
}


/* ?Effects */

/* ??? PLAY CARD IN HOVER ??? */
.album-card .cover-container:hover .fa-circle-play {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}

.album-card .cover-container-radius:hover .fa-circle-play {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}


/* ??? EFFETTUA L'UPGRADE HOVER ??? */
:hover.upgrade.btn {
    font-size: 0.8rem;
    cursor: pointer;
}

/* ??? SIDE-BAR HOVER ??? */
.left-sidebar ul li:hover .image-sidebar {
    opacity: 1;
    cursor: pointer;
}

.left-sidebar ul li:hover i,
.left-sidebar ul li:hover a {
    color: white;
    cursor: pointer;
}

/* ??? NAV-BAR HOVER ??? */
.row-nav ul li:hover a {
    color: white;
}

/* ??? SONG-TITLE HOVER ??? */
.now-playing ul li:hover h6 {
    text-decoration: underline;
    color: white;
    /* cursor: pointer; */
}

/* ??? LIKE-DOWNLOAD HOVER ??? */
.like-download li:hover a {
    filter: invert(1);
}

/* ??? PLAY HOVER ??? */
:hover.fa-regular.fa-circle-play.fa-xl {
    font-size: 1.6rem;
}

/* ??? TIME-BAR HOVER ??? */
.time-bar:hover .time-progress,
.time-bar:hover .marker.time {
    display: block;
    cursor: pointer;
}

/* ??? VOLUME-BAR HOVER ??? */
.volume-bar:hover .volume-progress,
.volume-bar:hover .marker.volume {
    display: block;
    cursor: pointer;
}

/* ??? BORDER MAIN NAV-BAR ??? */
main .row-nav ul li:first-of-type:after {
    content: '';
    display: block;
    height: 1px;
    background-color: greenyellow;
    width: 20%;
    margin: 4px auto;
}