/* CSS Reset */
body {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Generics */

.flex {
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

img {
    max-width: 100%;
}

/* Main */
.box {
    height: 90vh;
}

.left-sidebar {
    background-color: black;
    border: 1px dashed white;
    width: 50px;
}

.right {
    width: 100%;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    height: 70px;
    border: 1px solid red;
    flex-shrink: 0;
}

main {
    border: 1px solid yellow;
    color: white;
    background-color: rgb(21, 25, 33);
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
}

footer {
    background-color: rgb(40, 40, 40);
    height: 10vh;
}